.anchor {
  font-size: 14px;
  color: #fff;
  margin: 0 20px 0 20px;
  text-decoration: none;
}

.anchor:hover {
  text-decoration: underline;
  font-weight: 700;
}

.left {
  margin: 0;
  text-align: left;
  color: hsl(176, 68%, 64%);
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

.left:hover {
  text-decoration: none;
}
