.button {
  color: #fff;
  background-image: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  width: 300px;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 25px;
}

.button:hover {
  cursor: pointer;
}
